.normal {
padding: 15px 25px;
font-size: 24px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
background-color: #3e8e41;
border: none;
border-radius: 15px;
box-shadow: 0 9px rgb(105, 182, 98);
width: fit-content;
}

.normal:hover {background-color: #04AA6D}

.normal:active {
background-color: #3e8e41;
box-shadow: 0 5px rgb(105, 182, 98);
transform: translateY(4px);
}

.abnormal{
padding: 15px 25px;
font-size: 24px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
background-color: #aa0404;
border: none;
border-radius: 15px;
box-shadow: 0 9px rgb(172, 96, 96);
width: fit-content;
}

.abnormal:hover {background-color: #8e3e3e}

.abnormal:active {
background-color: #8e3e3e;
box-shadow: 0 5px rgb(172, 96, 96);
transform: translateY(4px);
}

.resultsButton{
padding: 15px 25px;
font-size: 24px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
background-color: #0407aa;
border: none;
border-radius: 15px;
box-shadow: 0 9px rgb(96, 97, 172);
width: fit-content;
}

.resultsButton:hover {background-color: #3e438e}

.resultsButton:active {
background-color: #3e3f8e;
box-shadow: 0 5px rgb(104, 96, 172);
transform: translateY(4px);
}

/* Start button */

.startButton{
padding: 15px 25px;
font-size: 24px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
background-color: #ff0000;
border: none;
border-radius: 15px;
box-shadow: 0 9px rgb(172, 96, 96);
width: fit-content;
}

.startButton:hover {background-color: #8e3e3e}

.startButton:active {
background-color: #8e3e3e;
box-shadow: 0 5px rgb(172, 96, 96);
transform: translateY(4px);
}

/* Home button */

.homeButton{
padding: 15px 25px;
font-size: 24px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
background-color: #000000;
border: none;
border-radius: 15px;
box-shadow: 0 9px rgb(62, 55, 55);
width: fit-content;
}

.homeButton:hover {background-color: #241f1f}

.homeButton:active {
background-color: #483939;
box-shadow: 0 5px rgb(99, 96, 96);
transform: translateY(4px);
}